<div align="right" id="user name"></div>
        <br>
        <div align="right"><button type="button" (click)="logout()">Signout</button></div>
                <h1 align="center">Product Details</h1>
                <br>

            <form name="product display" align="center">
                    <div id="products" align="center"></div>
            </form>

            <form name="add products">
            <br>
            <br>
            <h3 align="left">
                For User Details:
            </h3>
            <button type="button" (click)="getusers()">GET USERS</button> &nbsp; &nbsp; &nbsp;
            
            </form>