 <div align="left"><img src="assets/3447.png" alt="Iauro Systems" width="160" height="80"></div>
        <div align="right" id="user name"></div>
        <br>
        <div align="right"><button type="button" (click)='signout()'>Signout</button></div>
                <h1 align="center">User Details</h1>
                <br>

            <form name="user display" align="center">
                    <div id="users" align="center"></div>
            </form>

            <br>
            <br>
            <button type="button" (click)='backtoprod()'>BACK TO PRODUCT DETAILS PAGE</button>

