
        <div align="left"><img src="assets/3447.png" alt="Iauro Systems" width="160" height="80"></div>
        <div align="right" id="user name"></div>
        <br>
        <div align="right"><button type="button" (click)="logout()">Signout</button></div>
                <h1 align="center">Product Details</h1>
                <br>

            <form name="product display" align="center">
                    <div id="products" align="center"></div>
            </form>
            
             <form name="product display" align="center">
                    <div id="products" align="center"></div>
            </form>

            <form name="add products">
            <br>
            <br>
            <h3 align="left">
                For Adding New Products:
            </h3>
            <button type="button" (click)="addpage()" >ADD product</button> &nbsp; &nbsp; &nbsp;
            </form>